* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  display: flex;
}

.range-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  width: 90vw;
  max-width: 30em;
  margin-top: 2em;
}

.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 90vw;
  max-width: 30em;
}

.slider {
  appearance: none;
  width: 100%;
  height: 0.5em;
  outline: none;
  border-radius: 3px;
  background-color: rgb(157, 160, 156);
  box-shadow: inset 3px 3px 6px black, 1px 1px 1px gray;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  z-index: 3;
  position: relative;
}

.progress {
  width: 0;
  height: 0.4em;
  border-radius: 3px;
  background: linear-gradient(90deg, #55e0ff, #3193fc);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  pointer-events: none;
  transition-property: box-shadow;
  transition-duration: 0.2s;
}

.slider-thumb {
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: -0.5em;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
}

/* .slider-values {
  position: absolute;
  display: flex;
  top: 0.5em;
} */

.min {
  left: 0;
}

.max {
  right: 0;
}

.label {
  align-self: flex-start;
}

.number-input-container {
  position: relative;
  width: 100%;
}

.number-input {
  background: none;
  color: #fff;

  /* height: 4em; */
  border: 1px gray solid;
  border-bottom: none;
  border-radius: 4px;
  width: 100%;
  /* max-width: 30.2em; */
  font-size: 1rem;
  padding: 1rem;
}

.symbol {
  position: absolute;
  width: 3rem;
  height: 100%;
  top: 0;
  right: 0;
  border-left: 1px solid gray;
}

.symbol span {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.range-slider:hover .progress {
  box-shadow: 0 0 1em #55e0ff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculateBtn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  height: 48px;
  width: 100px;
  cursor: pointer;
  background-color: #3193fc;
  border-radius: 4px;
  border: none;
  font-weight: 500;
}

.calculateBtn:hover {
  background-color: #1272d8;
}

/* DROPDOWN  */

.dropdownContainer {
  margin-top: 2em;
}

select {
  display: block;
  width: 100%;
  font-size: 1rem;
  background: transparent;
  appearance: none;
  box-shadow: none;
  border-radius: 4px;
  padding: 1rem;
  border: 1px gray solid;
}

.selectYear {
  position: relative;
}
.customArrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: transparent;
  height: 100%;
  width: 3rem;
  border-left: 1px solid gray;
  pointer-events: none;
}

.customArrow::after,
.customArrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;
  transform: translate(-50%, -50%);
}

.customArrow::before {
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid rgba(255, 255, 255, 0.5);

  top: 35%;
}
.customArrow::after {
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid rgba(255, 255, 255, 0.5);

  top: 60%;
}
